/*Pallete 01*/
$primary-color: #FBF5F3; // primary texts
$secondary-color: #E28413; //secondary texts
$tertiary-color: #000022; //background
$quaternary-color: #DE3C4B;
$quinary-color: #C42847;

/*Pallete 02*/
// $primary-color: #012622;
// $secondary-color: #003B36;
// $tertiary-color: #ECE5F0;
// $quaternary-color: #E98A15;
// $quinary-color: #59114D;
